.Rproj.user
.Rhistory
.RData
.Ruserdata
source/
dev/*.js
dev/rsconnect
javascript/node_modules
javascript/d3po.js
javascript/d3po.min.js
javascript/d3po.full.js
javascript/d3po.full.min.js
javascript/d3.min.js
*.swp
inst/doc
testing.R
